set_location uartTxInst.oSerial_RNO 5 10 1 # SB_LUT4 (LogicCell: uartTxInst.oSerial_LC_0)
set_location uartTxInst.oSerial 5 10 1 # SB_DFFSS (LogicCell: uartTxInst.oSerial_LC_0)
set_location uartTxInst.oSerial_RNO_0 6 10 1 # SB_LUT4 (LogicCell: uartTxInst.oSerial_RNO_0_LC_1)
set_location uartTxInst.oSerial_RNO_1 5 9 4 # SB_LUT4 (LogicCell: uartTxInst.oSerial_RNO_1_LC_2)
set_location uartTxInst.oSerial_RNO_2 5 9 7 # SB_LUT4 (LogicCell: uartTxInst.oSerial_RNO_2_LC_3)
set_location uartTxInst.rBitIndex_RNO[0] 5 11 0 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex[0]_LC_4)
set_location uartTxInst.rBitIndex[0] 5 11 0 # SB_DFFSR (LogicCell: uartTxInst.rBitIndex[0]_LC_4)
set_location uartTxInst.rBitIndex_RNO_0[1] 6 11 0 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex_RNO_0[1]_LC_5)
set_location uartTxInst.rBitIndex_RNO_0[2] 6 11 2 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex_RNO_0[2]_LC_6)
set_location uartTxInst.rBitIndex_RNO[1] 6 11 7 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex[1]_LC_7)
set_location uartTxInst.rBitIndex[1] 6 11 7 # SB_DFF (LogicCell: uartTxInst.rBitIndex[1]_LC_7)
set_location uartTxInst.rBitIndex_RNO_1[1] 6 11 6 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex_RNO_1[1]_LC_8)
set_location uartTxInst.rBitIndex_RNO_1[2] 6 11 1 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex_RNO_1[2]_LC_9)
set_location uartTxInst.rBitIndex_RNO[2] 6 11 3 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex[2]_LC_10)
set_location uartTxInst.rBitIndex[2] 6 11 3 # SB_DFF (LogicCell: uartTxInst.rBitIndex[2]_LC_10)
set_location uartTxInst.rBitIndex_RNO_2[1] 6 10 2 # SB_LUT4 (LogicCell: uartTxInst.rBitIndex_RNO_2[1]_LC_11)
set_location uartTxInst.rClkCount_RNI4P8P[3] 6 10 4 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNI4P8P[3]_LC_12)
set_location uartTxInst.rClkCount_RNIA4KC[3] 6 9 4 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNIA4KC[3]_LC_13)
set_location uartTxInst.rClkCount_RNIC6KC[2] 6 10 3 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNIC6KC[2]_LC_14)
set_location uartTxInst.rClkCount_RNIOIKC_0[3] 6 9 2 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNIOIKC_0[3]_LC_15)
set_location uartTxInst.rClkCount_RNIOIKC[3] 6 10 6 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNIOIKC[3]_LC_16)
set_location uartTxInst.rClkCount_RNO[0] 6 10 0 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[0]_LC_17)
set_location uartTxInst.rClkCount[0] 6 10 0 # SB_DFF (LogicCell: uartTxInst.rClkCount[0]_LC_17)
set_location uartTxInst.rClkCount_RNO_0[3] 5 9 0 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNO_0[3]_LC_18)
set_location uartTxInst.rClkCount_RNO_0[6] 6 9 5 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNO_0[6]_LC_19)
set_location uartTxInst.rClkCount_RNO_0[7] 6 9 0 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNO_0[7]_LC_20)
set_location uartTxInst.rClkCount_RNO[1] 6 9 7 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[1]_LC_21)
set_location uartTxInst.rClkCount[1] 6 9 7 # SB_DFF (LogicCell: uartTxInst.rClkCount[1]_LC_21)
set_location uartTxInst.rClkCount_RNO_1[3] 5 9 2 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNO_1[3]_LC_22)
set_location uartTxInst.rClkCount_RNO[2] 5 9 3 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[2]_LC_23)
set_location uartTxInst.rClkCount[2] 5 9 3 # SB_DFF (LogicCell: uartTxInst.rClkCount[2]_LC_23)
set_location uartTxInst.rClkCount_RNO_2[3] 5 9 6 # SB_LUT4 (LogicCell: uartTxInst.rClkCount_RNO_2[3]_LC_24)
set_location uartTxInst.rClkCount_RNO[3] 5 9 1 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[3]_LC_25)
set_location uartTxInst.rClkCount[3] 5 9 1 # SB_DFF (LogicCell: uartTxInst.rClkCount[3]_LC_25)
set_location uartTxInst.rClkCount_RNO[4] 6 10 5 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[4]_LC_26)
set_location uartTxInst.rClkCount[4] 6 10 5 # SB_DFF (LogicCell: uartTxInst.rClkCount[4]_LC_26)
set_location uartTxInst.rClkCount_RNO[5] 6 9 3 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[5]_LC_27)
set_location uartTxInst.rClkCount[5] 6 9 3 # SB_DFF (LogicCell: uartTxInst.rClkCount[5]_LC_27)
set_location uartTxInst.rClkCount_RNO[6] 6 9 6 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[6]_LC_28)
set_location uartTxInst.rClkCount[6] 6 9 6 # SB_DFF (LogicCell: uartTxInst.rClkCount[6]_LC_28)
set_location uartTxInst.rClkCount_RNO[7] 6 9 1 # SB_LUT4 (LogicCell: uartTxInst.rClkCount[7]_LC_29)
set_location uartTxInst.rClkCount[7] 6 9 1 # SB_DFF (LogicCell: uartTxInst.rClkCount[7]_LC_29)
set_location uartTxInst.rTxState_RNINSDP[1] 5 10 4 # SB_LUT4 (LogicCell: uartTxInst.rTxState_RNINSDP[1]_LC_30)
set_location uartTxInst.rTxState_RNO[0] 6 11 5 # SB_LUT4 (LogicCell: uartTxInst.rTxState[0]_LC_31)
set_location uartTxInst.rTxState[0] 6 11 5 # SB_DFF (LogicCell: uartTxInst.rTxState[0]_LC_31)
set_location uartTxInst.rTxState_RNO_0[0] 6 11 4 # SB_LUT4 (LogicCell: uartTxInst.rTxState_RNO_0[0]_LC_32)
set_location uartTxInst.rTxState_RNO[1] 6 10 7 # SB_LUT4 (LogicCell: uartTxInst.rTxState[1]_LC_33)
set_location uartTxInst.rTxState[1] 6 10 7 # SB_DFF (LogicCell: uartTxInst.rTxState[1]_LC_33)
set_location GND -1 -1 -1 # GND
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io o_UART_TX_obuf 13 15 1 # ICE_IO
