set_location uartTxInst.rTxState[1] 6 10 7 #SB_DFF
set_location uartTxInst.rClkCount_RNO_0[7] 6 9 0 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[0] 6 10 0 #SB_LUT4
set_location uartTxInst.rTxState_RNINSDP[1] 5 10 4 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[7] 6 9 1 #SB_LUT4
set_location uartTxInst.rClkCount[0] 6 10 0 #SB_DFF
set_location uartTxInst.rBitIndex_RNO_2[1] 6 10 2 #SB_LUT4
set_location uartTxInst.rBitIndex_RNO_1[2] 6 11 1 #SB_LUT4
set_location uartTxInst.oSerial_RNO_1 5 9 4 #SB_LUT4
set_location uartTxInst.rBitIndex_RNO_0[1] 6 11 0 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[5] 6 9 3 #SB_LUT4
set_location uartTxInst.rClkCount[2] 5 9 3 #SB_DFF
set_location uartTxInst.oSerial 5 10 1 #SB_DFFSS
set_location uartTxInst.rClkCount_RNO_0[3] 5 9 0 #SB_LUT4
set_location uartTxInst.rClkCount[5] 6 9 3 #SB_DFF
set_location uartTxInst.rTxState_RNO[0] 6 11 5 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[3] 5 9 1 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[2] 5 9 3 #SB_LUT4
set_location uartTxInst.rClkCount_RNIC6KC[2] 6 10 3 #SB_LUT4
set_location uartTxInst.rClkCount[7] 6 9 1 #SB_DFF
set_location uartTxInst.rBitIndex_RNO_1[1] 6 11 6 #SB_LUT4
set_location uartTxInst.rBitIndex_RNO[1] 6 11 7 #SB_LUT4
set_location uartTxInst.rBitIndex[2] 6 11 3 #SB_DFF
set_location uartTxInst.rClkCount_RNO[1] 6 9 7 #SB_LUT4
set_location uartTxInst.rClkCount_RNO_0[6] 6 9 5 #SB_LUT4
set_location uartTxInst.rClkCount_RNIOIKC[3] 6 10 6 #SB_LUT4
set_location uartTxInst.rClkCount_RNIOIKC_0[3] 6 9 2 #SB_LUT4
set_location uartTxInst.rClkCount_RNIA4KC[3] 6 9 4 #SB_LUT4
set_location uartTxInst.rClkCount[6] 6 9 6 #SB_DFF
set_location uartTxInst.rBitIndex_RNO[0] 5 11 0 #SB_LUT4
set_location uartTxInst.rBitIndex[1] 6 11 7 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location uartTxInst.rTxState_RNO_0[0] 6 11 4 #SB_LUT4
set_location uartTxInst.rClkCount_RNI4P8P[3] 6 10 4 #SB_LUT4
set_location uartTxInst.rClkCount[1] 6 9 7 #SB_DFF
set_location uartTxInst.rBitIndex[0] 5 11 0 #SB_DFFSR
set_location uartTxInst.oSerial_RNO_2 5 9 7 #SB_LUT4
set_location uartTxInst.rTxState[0] 6 11 5 #SB_DFF
set_location uartTxInst.rBitIndex_RNO[2] 6 11 3 #SB_LUT4
set_location uartTxInst.oSerial_RNO 5 10 1 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[6] 6 9 6 #SB_LUT4
set_location uartTxInst.rClkCount_RNO_1[3] 5 9 2 #SB_LUT4
set_location uartTxInst.rClkCount[3] 5 9 1 #SB_DFF
set_location uartTxInst.oSerial_RNO_0 6 10 1 #SB_LUT4
set_location uartTxInst.rBitIndex_RNO_0[2] 6 11 2 #SB_LUT4
set_location uartTxInst.rTxState_RNO[1] 6 10 7 #SB_LUT4
set_location uartTxInst.rClkCount_RNO[4] 6 10 5 #SB_LUT4
set_location uartTxInst.rClkCount_RNO_2[3] 5 9 6 #SB_LUT4
set_location uartTxInst.rClkCount[4] 6 10 5 #SB_DFF
set_io o_UART_TX 74
set_io i_Clk 15
