ble_pack uartTxInst.rClkCount_RNO_0_3_LC_5_9_0 { uartTxInst.rClkCount_RNO_0[3] }
ble_pack uartTxInst.rClkCount_3_LC_5_9_1 { uartTxInst.rClkCount_RNO[3], uartTxInst.rClkCount[3] }
ble_pack uartTxInst.rClkCount_RNO_1_3_LC_5_9_2 { uartTxInst.rClkCount_RNO_1[3] }
ble_pack uartTxInst.rClkCount_2_LC_5_9_3 { uartTxInst.rClkCount_RNO[2], uartTxInst.rClkCount[2] }
ble_pack uartTxInst.oSerial_RNO_1_LC_5_9_4 { uartTxInst.oSerial_RNO_1 }
ble_pack uartTxInst.rClkCount_RNO_2_3_LC_5_9_6 { uartTxInst.rClkCount_RNO_2[3] }
ble_pack uartTxInst.oSerial_RNO_2_LC_5_9_7 { uartTxInst.oSerial_RNO_2 }
clb_pack LT_5_9 { uartTxInst.rClkCount_RNO_0_3_LC_5_9_0, uartTxInst.rClkCount_3_LC_5_9_1, uartTxInst.rClkCount_RNO_1_3_LC_5_9_2, uartTxInst.rClkCount_2_LC_5_9_3, uartTxInst.oSerial_RNO_1_LC_5_9_4, uartTxInst.rClkCount_RNO_2_3_LC_5_9_6, uartTxInst.oSerial_RNO_2_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack uartTxInst.oSerial_LC_5_10_1 { uartTxInst.oSerial_RNO, uartTxInst.oSerial }
ble_pack uartTxInst.rTxState_RNINSDP_1_LC_5_10_4 { uartTxInst.rTxState_RNINSDP[1] }
clb_pack LT_5_10 { uartTxInst.oSerial_LC_5_10_1, uartTxInst.rTxState_RNINSDP_1_LC_5_10_4 }
set_location LT_5_10 5 10
ble_pack uartTxInst.rBitIndex_0_LC_5_11_0 { uartTxInst.rBitIndex_RNO[0], uartTxInst.rBitIndex[0] }
clb_pack LT_5_11 { uartTxInst.rBitIndex_0_LC_5_11_0 }
set_location LT_5_11 5 11
ble_pack uartTxInst.rClkCount_RNO_0_7_LC_6_9_0 { uartTxInst.rClkCount_RNO_0[7] }
ble_pack uartTxInst.rClkCount_7_LC_6_9_1 { uartTxInst.rClkCount_RNO[7], uartTxInst.rClkCount[7] }
ble_pack uartTxInst.rClkCount_RNIOIKC_0_3_LC_6_9_2 { uartTxInst.rClkCount_RNIOIKC_0[3] }
ble_pack uartTxInst.rClkCount_5_LC_6_9_3 { uartTxInst.rClkCount_RNO[5], uartTxInst.rClkCount[5] }
ble_pack uartTxInst.rClkCount_RNIA4KC_3_LC_6_9_4 { uartTxInst.rClkCount_RNIA4KC[3] }
ble_pack uartTxInst.rClkCount_RNO_0_6_LC_6_9_5 { uartTxInst.rClkCount_RNO_0[6] }
ble_pack uartTxInst.rClkCount_6_LC_6_9_6 { uartTxInst.rClkCount_RNO[6], uartTxInst.rClkCount[6] }
ble_pack uartTxInst.rClkCount_1_LC_6_9_7 { uartTxInst.rClkCount_RNO[1], uartTxInst.rClkCount[1] }
clb_pack LT_6_9 { uartTxInst.rClkCount_RNO_0_7_LC_6_9_0, uartTxInst.rClkCount_7_LC_6_9_1, uartTxInst.rClkCount_RNIOIKC_0_3_LC_6_9_2, uartTxInst.rClkCount_5_LC_6_9_3, uartTxInst.rClkCount_RNIA4KC_3_LC_6_9_4, uartTxInst.rClkCount_RNO_0_6_LC_6_9_5, uartTxInst.rClkCount_6_LC_6_9_6, uartTxInst.rClkCount_1_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack uartTxInst.rClkCount_0_LC_6_10_0 { uartTxInst.rClkCount_RNO[0], uartTxInst.rClkCount[0] }
ble_pack uartTxInst.oSerial_RNO_0_LC_6_10_1 { uartTxInst.oSerial_RNO_0 }
ble_pack uartTxInst.rBitIndex_RNO_2_1_LC_6_10_2 { uartTxInst.rBitIndex_RNO_2[1] }
ble_pack uartTxInst.rClkCount_RNIC6KC_2_LC_6_10_3 { uartTxInst.rClkCount_RNIC6KC[2] }
ble_pack uartTxInst.rClkCount_RNI4P8P_3_LC_6_10_4 { uartTxInst.rClkCount_RNI4P8P[3] }
ble_pack uartTxInst.rClkCount_4_LC_6_10_5 { uartTxInst.rClkCount_RNO[4], uartTxInst.rClkCount[4] }
ble_pack uartTxInst.rClkCount_RNIOIKC_3_LC_6_10_6 { uartTxInst.rClkCount_RNIOIKC[3] }
ble_pack uartTxInst.rTxState_1_LC_6_10_7 { uartTxInst.rTxState_RNO[1], uartTxInst.rTxState[1] }
clb_pack LT_6_10 { uartTxInst.rClkCount_0_LC_6_10_0, uartTxInst.oSerial_RNO_0_LC_6_10_1, uartTxInst.rBitIndex_RNO_2_1_LC_6_10_2, uartTxInst.rClkCount_RNIC6KC_2_LC_6_10_3, uartTxInst.rClkCount_RNI4P8P_3_LC_6_10_4, uartTxInst.rClkCount_4_LC_6_10_5, uartTxInst.rClkCount_RNIOIKC_3_LC_6_10_6, uartTxInst.rTxState_1_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack uartTxInst.rBitIndex_RNO_0_1_LC_6_11_0 { uartTxInst.rBitIndex_RNO_0[1] }
ble_pack uartTxInst.rBitIndex_RNO_1_2_LC_6_11_1 { uartTxInst.rBitIndex_RNO_1[2] }
ble_pack uartTxInst.rBitIndex_RNO_0_2_LC_6_11_2 { uartTxInst.rBitIndex_RNO_0[2] }
ble_pack uartTxInst.rBitIndex_2_LC_6_11_3 { uartTxInst.rBitIndex_RNO[2], uartTxInst.rBitIndex[2] }
ble_pack uartTxInst.rTxState_RNO_0_0_LC_6_11_4 { uartTxInst.rTxState_RNO_0[0] }
ble_pack uartTxInst.rTxState_0_LC_6_11_5 { uartTxInst.rTxState_RNO[0], uartTxInst.rTxState[0] }
ble_pack uartTxInst.rBitIndex_RNO_1_1_LC_6_11_6 { uartTxInst.rBitIndex_RNO_1[1] }
ble_pack uartTxInst.rBitIndex_1_LC_6_11_7 { uartTxInst.rBitIndex_RNO[1], uartTxInst.rBitIndex[1] }
clb_pack LT_6_11 { uartTxInst.rBitIndex_RNO_0_1_LC_6_11_0, uartTxInst.rBitIndex_RNO_1_2_LC_6_11_1, uartTxInst.rBitIndex_RNO_0_2_LC_6_11_2, uartTxInst.rBitIndex_2_LC_6_11_3, uartTxInst.rTxState_RNO_0_0_LC_6_11_4, uartTxInst.rTxState_0_LC_6_11_5, uartTxInst.rBitIndex_RNO_1_1_LC_6_11_6, uartTxInst.rBitIndex_1_LC_6_11_7 }
set_location LT_6_11 6 11
set_io o_UART_TX 74
set_io i_Clk 15
